body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  /* background: rgba(0, 0, 0); */
}
.avatar {
  background-image: url(../public/glassesImage/model.jpg);
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
}
.avatar img {
  margin-top: 140px;
  width: 280px;
  margin-left: 58px;
}
.glasses__content {
  margin-top: 240px;
  display: block;
  background: rgba(13, 1, 3, 0.3);
  color: white;
}
/* .container__glasses {
  display: flex;
} */
.glasess__item img {
  width: 200px;
}
.container__template {
  display: flex;
}
